doctype html 
html
   head
     title forming is a backbon of contry
     script 
       include ../static/index1.js   
     style 
       include ../static/style1.css
   body
     nav#navbar 
         ul 
             div#logo
                  img(src="/static/logo.jpg",alt="sponsor image",class="spimage")
                  |      HDA 
             li #[a(href="/") Home] 
             li #[a(href="/") About] 
             li #[a(href="/") Contact Us]    
             li #[a(href="/") Services]
             li #[a(href="/") Shop]
             li #[a(href="/") Blog]  
section#slogansection 
        div Welcome  To Nitees Agricultuer Feild 
        div.small Agriculture Is The Most Healthful, Most Useful And Most Noble Employment Of Man.                        
section#introsection 
section#missionsection  
        h1  Mission        
        div Forming are very importen for  our life
        div Throw this application we promoting the our forming culture.
        div  Here we solve the all forming probloms 
        
section#sponsorssection
        h1 Our sponsors   
        img(src="/static/slogo1.jpg",alt="sponsor image",class="spimage")
        img(src="/static/slogo2.jpg",alt="sponsor image",class="spimage")
        img(src="/static/slogo3.jpg",alt="sponsor image",class="spimage")
        img(src="/static/slogo4.jpg",alt="sponsor image",class="spimage")
        img(src="/static/slogo5.jpg",alt="sponsor image",class="spimage")
        img(src="/static/slogo6.jpg",alt="sponsor image",class="spimage")
        